html, body {
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
  
  border-spacing: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Helvetica', sans-serif;
}


td {
  height: 200px;
  width: 200px;
}

td div {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  pointer-events: none;
}
  

tr td:nth-child(2) {
  border-left: 6px solid black;
  border-right: 6px solid black; 

}

tr:nth-child(2) td {
  border-top: 6px solid black;
  border-bottom: 6px solid black;
  
  
}

button {
  margin-top: 30px;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}

button:hover {
  background-color: white;
  color: black;
  
}

